#profile-card-holder{
    width: 400px;
}

#profile-blog-holder{
    width: 69%;
}

#profile-card-holder,#profile-blog-holder{
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}


/* profile card */
#profile-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#profile-card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#profile-card #user-name{
    text-align: center;
    display: block;
    font-size: 2rem;
}

#operation{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 8px;
    border:1px solid var(--primary-color);
    background-color: transparent;
    color: var(--text-color);
}

#operation button#delete{
  background-color: red;
}